# VSCode settings
.vscode/

# Google cookies
/.google-cookie

# Python cache
**/__pycache__

# Migrations data
**/migrations/*
!**/migrations/__init__.py

# Database
/db.sqlite3
/temp.txt
/.temp

#virtual enviroment
Pipfile.lock